<center><a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a></center>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Gohel Neel</b></center>
<center><b><h3>Enrollnment No. : 23010101089</b></center>
<center><b><h3>Date: 20-06-2025</b></center>
<center><b><h1>Lab - 3</b></center>  
<pre>

### 1)  First, you need to read the titanic dataset from local disk and display first five records

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

In [4]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 2)  Identify Nominal, Ordinal, Binary and Numeric attributes from data sets and display all values.

In [5]:
numeric = ["PassengerId" , "SibSp" , "Age" , "Fare"]
# df["PassengerId"].unique()

In [6]:
binary = ["Survived" , "Sex"]
df['Survived'].unique()
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [7]:
ordinal = ["Pclass"]
df['Pclass'].unique()

array([3, 1, 2])

In [8]:
nominal = ["Name" , "Ticket" , "Cabin" , "Embarked"]
# df['Name'].unique()

### 3)  Identify symmetric and asymmetric binary attributes from data sets and display all values.

In [9]:
Symmetric = ["Age"]
Asymmetric = ["Survived"]

### 4)  For each quantitative attribute, calculate its average, standard deviation, minimum, mode, range and maximum values.

In [10]:
all = ["PassengerId" ,"Survived","Pclass","Age","SibSp" ,"Parch" , "Fare"]

for i in all:
  print(f"{i}: ")
  print("\tMean = ",df[i].mean())
  print("\tStandard deviation = ",df[i].std())
  print("\tMaximun = ",df[i].min())
  print("\tMinimum = ",df[i].max())

PassengerId:
	Mean =  446.0
	Standard deviation =  257.3538420152301
	Maximun =  1
	Minimum =  891
Survived:
	Mean =  0.3838383838383838
	Standard deviation =  0.4865924542648575
	Maximun =  0
	Minimum =  1
Pclass:
	Mean =  2.308641975308642
	Standard deviation =  0.836071240977049
	Maximun =  1
	Minimum =  3
Age:
	Mean =  29.69911764705882
	Standard deviation =  14.526497332334042
	Maximun =  0.42
	Minimum =  80.0
SibSp:
	Mean =  0.5230078563411896
	Standard deviation =  1.1027434322934317
	Maximun =  0
	Minimum =  8
Parch:
	Mean =  0.38159371492704824
	Standard deviation =  0.8060572211299483
	Maximun =  0
	Minimum =  6
Fare:
	Mean =  32.204207968574636
	Standard deviation =  49.6934285971809
	Maximun =  0.0
	Minimum =  512.3292

### 6)  For the qualitative attribute (class), count the frequency for each of its distinct values.

In [11]:
df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

###  7) It is also possible to display the summary for all the attributes simultaneously in a table using the describe() function. If an attribute is quantitative, it will display its mean, standard deviation and various quantiles (including minimum, median, and maximum) values. If an attribute is qualitative, it will display its number of unique values and the top (most frequent) values.

In [12]:
df.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

### 8)  For multivariate statistics, you can compute the covariance and correlation between pairs of attributes.

In [13]:
# Covarience
df.cov(numeric_only=True)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,66231.000000,-0.626966,-7.561798,138.696504,-16.325843,-0.342697,161.883369
Survived,-0.626966,0.236772,-0.137703,-0.551296,-0.018954,0.032017,6.221787
Pclass,-7.561798,-0.137703,0.699015,-4.496004,0.076599,0.012429,-22.830196
Age,138.696504,-0.551296,-4.496004,211.019125,-4.163334,-2.344191,73.849030
SibSp,-16.325843,-0.018954,0.076599,-4.163334,1.216043,0.368739,8.748734
Parch,-0.342697,0.032017,0.012429,-2.344191,0.368739,0.649728,8.661052
Fare,161.883369,6.221787,-22.830196,73.849030,8.748734,8.661052,2469.436846

In [14]:
# Corelatioon
df.corr(numeric_only=True)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

### 9) Display the histogram for Age attribute by discretizing it into 8 separate bins and counting the frequency for each bin.

In [ ]:
import matplotlib.pyplot as plt

In [17]:
df['Age'].hist(bins=8)
plt.title("Histogram of age")
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

### 10) A boxplot can also be used to show the distribution of values for each attribute.

In [ ]:
df[['Age',"Fare"]].boxplot()
plt.title("Boxplot of Titanic Numeric Attributes")
plt.ylabel("Value")
plt.grid(True)
plt.show()

### 11)  Display scatter plot for any 5 pair of attributes , we can use a scatter plot to visualize their joint distribution.

In [ ]:
pairs = [('Age', 'Fare'), ('Age', 'SibSp'), ('Age', 'Parch'), ('Fare', 'SibSp'), ('Fare', 'Parch')]

plt.figure(figsize = (15, 10))

for i, (x, y) in enumerate(pairs):
    plt.subplot(2, 3, i + 1)
    plt.scatter(df[x], df[y], alpha=0.6)
    plt.xlabel(x.capitalize())
    plt.ylabel(y.capitalize())
    plt.title(f"{x.capitalize()} vs {y.capitalize()}")
    plt.grid(True)